# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/
env/
venv/
ENV/
*.env

# Streamlit
.streamlit/config.toml

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Output files
*.csv
*.xlsx
*.pdf

# Git
*.orig
